p, h1{

    
    
    text-align: center;
}
.itens:hover{

    
    background-color: red;
    
    
}

li:active{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listass{
    list-style: none;
}