

.first{
    position: relative;
    left: 45%;
    list-style: none;
    
}

.second{
    position: relative;
    left: 34%;
    list-style: none;
    
}

.third{
    position: relative;
    left: 50%;
    top: -50px;
    list-style: none;
}

h3{
    position: relative;
    left: 45%
}

.linhaBloco li{
    display: inline-block;
    position: relative;
    left: 35%;
    list-style: none;
}